<div class="contact-form">
    <div class="contact-form-title">
        <p>Mantente en contacto</p>
    </div>
    <form action="#">
        <div class="row">
            <div class="col-12">
                [text* nombre class:form-control placeholder "Nombre"]
            </div>
            <div class="col-12">
                [email* email class:form-control placeholder "Email"]
            </div>
            <div class="col-12">
                [textarea mensaje class:form-control 30x10 placeholder "Mensaje"]
            </div>
            <div class="col-12">
                <button id='submit' class="btn caviar-btn wpcf7-form-control wpcf7-submit"><span></span> Enviar mensaje</button>
            </div>
            <div class="col-12">
                [response]
            </div>
        </div>
    </form>
</div>