span.wpcf7-not-valid-tip{
    margin-top: -17px;
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}